* {
  box-sizing: border-box;
}

#container {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  width: 50%;
  margin: auto;
  height: auto;
}

.lotto-number {
  border-radius: 50%;
  background-color: rgb(68, 68, 221);
  width: 50px;
  height: 50px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: rgb(105, 100, 100);
  font-weight: bold;
}

ul img {
  width: 50px;
  height: 50px;
  display: block;
}

ul #bto {
  width: 100px;
  margin: 50px;
}

.lotto-number.yellow {
  background-color: rgb(245, 245, 89);
}
.lotto-number.blue {
  background-color: skyblue;
}
.lotto-number.red {
  background-color: coral;
}
.lotto-number.gray {
  background-color: gainsboro;
}
.lotto-number.green {
  background-color: darkcyan;
}
