#calendar {
  border-collapse: collapse;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
}

.calendarcontent {
  display: flex;
  grid-template-rows: 80px;
  border: 0.1px solid black;
  height: 50px;
}
.day {
  background-color: rgb(75, 194, 75);
  height: 25px;
  align-items: center;
  justify-content: center;
}
.breakred {
  color: red;
}
.breakblue {
  color: blue;
}
.breakgray {
  color: rgb(201, 197, 197);
}
