.nepp-footer {
  flex: 1;
}

.nepp-footersecond {
  margin: 0 300px;
}

.nepp-footerfirstlist {
  display: flex;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.nepp-footerfirstlist {
  padding: 0 280px;
}
.nepp-footerfirstlist a {
  margin: 30px;
}
.nepp-footersecond {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nepp-footersecondleft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nepp-footersecondimage {
  margin-right: 40px;
}
.nepp-footerseoncdlist ul {
  list-style-type: none;
}
.nepp-footerseoncdlist .list-final {
  margin-top: 20px;
}
.nepp-footersecondright .list {
  list-style-type: none;
}

.nepp-footersecondright {
  font-size: 16px;
  margin: 0 -60px;
}
.nepp-footersecondright .title {
  margin-bottom: 30px;
  font-weight: bold;
}

.nepp-footersecondright .listright {
  text-align: left;
  margin-left: 30px;
}
