* {
  box-sizing: border-box;
}

body {
  margin: 5px;
}

.nepp-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #000;
  color: #efefef;
  margin: 0;
}
