html,
body {
  margin: 0;
  height: 100%;
}

#nojs-wrapper {
  min-width: 100vh;
  flex-direction: column;
  display: flex;
  height: 100%;
}

header .conatiner {
  background-color: #233056;
  text-align: center;
}

.conatiner .navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0px;
}
.conatiner .navbar ul a {
  text-decoration: none;
  color: #efefef;
}
.conatiner .navbar ul li {
  margin: 10px;
  font-size: 14px;
  padding: 0 8px;
}

main {
  flex: 1;
  background-color: #090c15;
  padding: 30px 0;
}

main .mainwri {
  text-align: center;
  margin: 20px 0;
}
.container .maindown {
  display: flex;
  justify-content: center;
}

main .mainwri h2 {
  color: #efefef;
}

.maindown .downbox1 {
  justify-content: center;
  align-items: center;
}

.maindown .downbox1 a,
.downbox2 a {
  display: inline-block;
  border: none;
  width: 230px;
  height: 70px;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  padding: 0.2em 0.6em;
  text-decoration: none;
  background-color: #026e00;
  margin: 10px 4px;
  color: #fff;
  padding: 6px 18px;
  padding-top: 10px;
  text-align: center;
}

.downbox1 a small,
.downbox2 a small {
  font-size: 1rem;
}
.maindown ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.maindown ul li {
  padding: 0px 5px;
  color: #026e00;
}

.container p {
  text-align: center;
  margin: 20 0px;
  color: #fff;
  display: block;
  font-size: 20px;
}

footer .container {
  background-color: #233056;
  display: flex;
  justify-content: center;
}

.container .footerleft img {
  width: 122px;
}
.container .footerleft {
  padding: 14px 20px;
  width: 588px;
}
.container .footerleft p {
  font-size: 14px;
}
.container .footerright {
  padding: 0px;
  padding-left: 40px;
  margin: 14px 0;
  color: #add8e6;
  font-size: 14px;
}
