#home-main-section-top {
  padding-top: 24px;
  background-color: #fbf7f2;
}

#home-main-top {
  margin: 0 239px;
  width: 1024px;
  height: 760px;
  position: relative;
}

#home-main-top h1 {
  padding-top: 270px;
  font-size: 48px;
  line-height: 1.3;
}
#home-main-top p {
  font-size: 16px;
  line-height: 1.3;
}
#home-main-section-top .home-main-img-top {
  background: #fbf7f2
    url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-top-68ba12f0da7b5af9a574ed92ca8b3a9c0068db176b566dd374ee50359693358b.png)
    no-repeat;
  background-size: 804px 685px;
  position: absolute;
  right: -84px;
  bottom: 0px;
  width: 804px;
  height: 685px;
}
