* {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  min-height: 100%;
}
.logo-header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.logo-warpper {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid;
}

.logo-title {
  position: relative;
  width: 1024px;
  margin: 0 auto;
  padding: 16px 0;
}
.logo-title .search-input {
  position: absolute;
  top: 10px;
  left: 174px;
  border: solid 1px #e9ecef;
  text-decoration: none;
  border-radius: 5px;
  padding: 0 25px;
  width: 370px;
  height: 44px;
  margin: 0;
}
.logo-title .search-input input[type="text"] {
  color: #212529;
  border: none;
  font-size: 16px;
  width: 340px;
  height: 42px;
}

.search-input button {
  position: absolute;
  border: none;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}
.search-input button img {
  width: 19px;
  height: 19px;
}
.bar-menu {
  position: absolute;
  display: flex;
  right: 0;
  top: 16px;
}
.bar-menu .download {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bar-menu .chatbox {
  width: 120px;
  height: 40px;
  border: 1px solid #d1d3d8;
  border-radius: 6px;
  margin: 0;
  background-color: rgb(255, 255, 255);
}
.chatbox .chat {
  color: #4d5159;
  font-size: 16px;
  font-weight: 700;
}
.chatbox .beta {
  color: #ff7e36;
  font-size: 14px;
}
